p{

    text-align: justify;

}

h1{

    text-align: center;

}


.principal-container{

    background-color: #77BFAC;
    margin: auto;
    border: 5px solid #000;
    min-width: 390px;

}



.nav_principal{

    background-color: #fff;
    margin: 100px;
    border-radius: 4px;
    border: 5px solid #000;
    display: block;
    min-width: 200px;
    
}


.nav_superior{

    background-color:#D75050;
    margin: 0;
    border: 1px solid black;
    min-width: 100px;
    


}

.menu{

    list-style: none;
    padding: 0;
    background: #000;
    width: 46%;
    max-width: 1100px;
    margin: auto;
    min-width: 100px;

}

.menu li a{

    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;

}

.menu li{

    display: inline-block;
    text-align: center;

}

.menu li a:hover{

    background: #ef8354;

}

.festival_container{


    margin: 40px;
   

}

.defqon_1{


    width: 30%;
    float: right;
    border-radius: 40px;
    padding: 20px;
    

}


.qlimax_1{
    
    
    width: 30%;
    float: left;
    padding: 20px;
    border-radius: 40px;
    padding: 20px;

   
}

.intents_festival{

    width: 30%;
    float: right;
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    
}




.footer_principal{

    background-color: #D75050;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 86%;
    margin: 100px;
    border: solid #000;
    margin: auto;

}

.footer_principal footer p{

    text-align: center;
    
}