p{

    text-align: justify;
    
}

h1{

    text-align: left;

}


.principal-container{

    background-color: #77BFAC;
    margin: auto;
    border: 5px solid #000;
    min-width: 370px;

}


.nav_principal{

    background-color: #fff;
    margin: 100px;
    border-radius: 4px;
    border: 5px solid #000;
    display: block;
    min-width: 200px;
    
}



.nav_superior{

    background-color:#D75050;
    margin: 0;
    border: 1px solid black;
    min-width: 100px;


}


.menu{

    list-style: none;
    padding: 0;
    background: #000;
    width: 48%;
    max-width: 1100px;
    margin: auto;
    min-width: 100px;

}

.menu li a{

    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;

}

.menu li{

    display: inline-block;
    text-align: center;

}

.menu li a:hover{

    background: #ef8354;

}

.genero_container{

    margin: 60px;

}

.audio_euphoric{



    float: right;
    padding: 40px;
    width: 30%;

}







.footer_principal{

    background-color: #D75050;
    border-radius: 10px;
    text-align: center;
    width: 86%;
    margin: auto;
    border: solid #000;
    min-width: 100px;
}

.footer_principal footer p{

    text-align: center;
    
}